@font-face {
    font-family:ohnow;
    src: url('../fontes/Birdrockers_Demo.otf');
}


body {
    background-image: url('../img/background-roxo.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
} 

#tela-inicial {
    margin-top: 120px;
    color: #fff;
    text-align: center;
}

.logo {
    margin-bottom: 40px;
}

.botoes .btn {
    width: 300px;
    padding: 10px 0;
    font-size: 18px;
    background-color: rgb(0, 0, 0, 0.4);
    border: none;
    color: #fff;
}

/*----- formulario usuarios ---- -- */

.secao-cadastro {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 4px;
    color: #fff;
    padding: 15px;
    padding-bottom: 0;
    
}

.form .btn {
    width: 100%;
}

.form h2 {
    margin-bottom: 30px;
}

.logo h1{
    font: 80px ohnow;
}

p {
    font-size: 20px;
}

