body {
    background-color: #00abe8;
    background-repeat: no-repeat;
    background-size: 100%;
} 

.imagem img {
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 0px;
}

header {
    background: #073561;
}

#menu {
    margin-left: 15px;
}

.opcoes {
    margin: 15px 35px 0 20px;
}

.opcoes .btn {
    width: 70px;
    padding: 0;
    vertical-align: middle;
    border-radius: 2px;
}

#sair {
    margin-left: 5px;
}

.name {
    margin-top: 30px;
    color: #ffffff;
}

.name h2 {
    font-size: 42px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

header hr {
    width: 100%;
    background-color: #ffffff;
}

.box-geral {
    padding: 10px 50px;
}

.titulo {
    margin-bottom: 10px;
}

.btn-tarefa .btn {
    margin: 0 0 10px 5px;
    font-size: 18px;
    background-color: rgb(0, 0, 0, 0.4);
    border: none;
    color: #fff;
    width: 160px;
}

#btn-tarefas {
    margin-left: 10px;
}

.texto h1 {
    font-size: 40px;
}

.btn-tarefa {
    margin-left: 10px;
}

.box {
    min-height: 600px;
    border-radius: 8px;
    width: 23%;
    background-color: rgb(0, 0, 0, 0.6);
}


.titulo-box {
    margin-top: 20px;
}

.titulo-box h3 {
    font-size: 24px;
    color: #fff;
}

.titulo-box hr {
    margin-top: 0px;
    background-color: #fff;
}

.post {
    border-radius: 4px;
    background-color: rgb(255, 255, 255, 0.7);
    padding-top: 8px;
    box-shadow: 0 0 1em #000000;
    margin: 10px 0;
}

.post .icones {
    margin-left: 10px;
}

.post .icon {
    margin: 0 3px;
}


.post h4 {
    font-size: 18px;
    margin-top: 6px;
}

.post hr {
    margin-top: -2px;
    margin-bottom: 8px;
}

.post p {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    font-size: 13px;
    text-align: justify;
}


.rodape {
    margin-right: -2px;
}

.time {
    padding: 0;
}

.rodape h5 {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    background-color: #073561;
    border-radius: 2px;
    padding: 2px 3px;
    margin-right: 2px;
    color: #fff;
}






