@font-face {
    font-family:ohnow;
    src: url('../fontes/Birdrockers_Demo.otf');
}

body {
    background-image: url('../img/background-roxo.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
} 

#logo {
    font: 50px ohnow;
}

.imagem {
    display: flex;
}

.imagem img {
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 0px;
    object-fit: cover;
}

#menu {
    margin-left: 15px;
}

.opcoes {
    margin: 15px 15px 0 20px;
}

.opcoes .btn {
    width: 70px;
    padding: 0;
    vertical-align: middle;
    border-radius: 2px;
}

#sair {
    margin-left: 5px;
}

.name {
    margin-top: 30px;
    color: #ffffff;
}

.name h2 {
    font-size: 42px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

header hr {
    width: 100%;
    background-color: #ffffff;
}

nav .btn {
    background-color: rgb(0, 0, 0, 0.4);
    border: none;
    color: #fff;
    width: 70px;
}

#btn-sair {
    color: #fff;
}

.session-user {
    margin-right: 30px;
}

#nome-user {
    color: #fff;
}

.sair{
    margin-left: 20px;
}

.box-geral {
    padding: 10px 50px;
}

.titulo {
    margin-bottom: 10px;
}

.btn-tarefa .btn {
    margin: 0 0 10px 5px;
    font-size: 18px;
    background-color: rgb(0, 0, 0, 0.4);
    border: none;
    color: #fff;
    width: 140px;
}

#btn-tarefas {
    margin-left: 10px;
}

.texto h1 {
    font-size: 40px;
}

.btn-tarefa {
    margin-left: 10px;
}

.box {
    min-height: 200px;
    border-radius: 8px;
    width: 23%;
    background-color: rgba(0, 0, 0, 0.4);
    padding-bottom: 10px;
    max-height: 500px;
    overflow: auto;
}


.titulo-box {
    margin-top: 20px;
}

.titulo-box h3 {
    font-size: 24px;
    color: #fff;
}

.titulo-box hr {
    margin-top: 0px;
    background-color: #fff;
}

.no-task {
    color: #fff;
    font-size: 20px;
    margin: 50px 0 0 20px;
}

.post {
    border-radius: 4px;
    background-color: rgb(255, 255, 255, 0.9);
    padding-top: 8px;
    box-shadow: 0 0 1em #000000;
    margin: 10px 0;
}

.post .icones {
    margin-left: 10px;
}

.post .icon {
    margin: 0 3px;
}


.post h4 {
    font-size: 18px;
    margin-top: 6px;
}

.post hr {
    margin-top: -2px;
    margin-bottom: 8px;
}

.post p {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    font-size: 13px;
    text-align: justify;
}


.rodape {
    margin-right: -2px;
}

.time {
    padding: 0;
}

.rodape h5 {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    background-color: #073561;
    border-radius: 2px;
    padding: 2px 3px;
    color: #fff;
    margin-right: 3px;
}

#data {
    margin-left: 5px;
}

#modalCategoria table thead {
    background-color: #800080;
}

#btn-categoria, #btn-tarefa {
    background-color: #800080;
    border: none;
}

#btn-tarefa {
    margin-top: 20px;
    width: 100%;
}


/* -------------------------------------------------------- */

#tela-inicial {
    margin-top: 120px;
    color: #fff;
    text-align: center;
}

.logo {
    margin-bottom: 40px;
}

.botoes .btn {
    width: 300px;
    padding: 10px 0;
    font-size: 18px;
    background-color: rgb(0, 0, 0, 0.4);
    border: none;
    color: #fff;
}

/*----- formulario usuarios ---- -- */

.secao-cadastro {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edita-tarefa {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edita-tarefa .btn {
    margin-top: 20px;
    width: 100%;
}

.secao-cadastro .form, .edita-tarefa .form {
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 4px;
    color: #fff;
    padding: 15px;
    padding-bottom: 0;
    
}

.secao-cadastro .form .btn {
    width: 100%;
}

.secao-cadastro .form h2 {
    margin-bottom: 30px;
}

#sem-conta {
    margin-top: 10px;
    color: #fff;
}

.secao-cadastro-erro placeholder {
    color: red;
}

.fixaRodape {
    background-color: #000;
    color: #fff;
    padding: 10px;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}