body {
    background-image: url(img/capa-formanda-organizacao.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

img {
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 0px;
}

header {
    background: #1B676B;
}

#menu {
    margin-left: 15px;
}

.opcoes {
    margin: 15px 35px 0 20px;
}

.opcoes .btn {
    width: 70px;
    padding: 0;
    vertical-align: middle;
}

#sair {
    margin-left: 5px;
}

.name {
    margin-top: 30px;
    color: #ffffff;
}

.name h2 {
    font-size: 42px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

header hr {
    width: 100%;
    background-color: #ffffff;
}

.box-geral {
    padding: 10px 50px;
}

.titulo {
    margin-bottom: 10px;
}

.btn-tarefa .btn {
    margin: 0 0 10px 5px;
    font-size: 18px;
    background: rgb(226, 228, 230, 0.8);
    color: #1B676B;
    width: 160px;
    border: none;
}

#btn-tarefas {
    margin-left: 10px;
}

.texto h1 {
    font-size: 40px;
}

.btn-tarefa {
    margin-left: 10px;
}

.box {
    min-height: 600px;
    border-radius: 8px;
    width: 23%;
    background: rgb(105, 105, 105, 0.8);
}


.titulo-box {
    margin-top: 20px;
}

.titulo-box h3 {
    font-size: 24px;
}

.titulo-box hr {
    margin-top: 0px;
    background-color: #0195A5;
}

.post {
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    padding-top: 8px;
    box-shadow: 0 0 1em #000000;
}


.post h4 {
    font-size: 18px;
    margin-top: 6px;
}

.post hr {
    margin-top: -2px;
    margin-bottom: 8px;
}

.post p {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
}


.rodape {
    margin-right: -2px;
}

.time {
    padding: 0;
}

.rodape h5 {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    background-color: #1B676B;
    border-radius: 4px;
    padding: 2px 3px;
    margin-right: 2px;
    color: #fff;
}






